
.react-calendar{

    background-color: royalblue;
    padding: 2%;
}

.react-calendar__navigation{
    
    display: flex;
    justify-content: center;
    gap: 5%;

}

.react-calendar__navigation__label{
    max-width: 50%;

}

.react-calendar__month-view__days__day{
    margin: 1vh;
    
}

.react-calendar__tile{
    margin-left: 2%;
}

.react-calendar__tile--now {
    border: 5px solid white;
    box-sizing: border-box;
    
  }

.btn{
    display: flex;
    justify-content: center;
    gap: 5%;
}

.btn button{
    min-width: 25vw;
    background-color: royalblue;
    height: 10vh;

}