*{
    scroll-behavior: smooth;
}

.Form{
    display: flex;
    flex-direction: column;
    border: solid 2px ;
    min-width: 20vw;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: center;
    background-color: royalblue;
    margin-top: 5%;
    margin-bottom: 10%;
}

.FormTitle{
    display: flex;
    justify-content: center;
    padding-left: 2%;
}

.FormContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.FormInput{
    margin-bottom: 2%;
    margin-left: 5%;
    padding-right: 15%;
    height: 5vh;
    min-width: 10vw;
}

.FormSubmit{
    min-width: 5vw;
    height: 5vh;
    margin-bottom: 2%;
}